<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add new user</title>
</head>
<body>
    <form action="/api/user" method="post">
        <label>
            <p>User name:</p>
            <input type="text" name="user[name]" required>
        </label>
        <label>
            <p>Password:</p>
            <input type="password" name="user[password]" required>
        </label>
        <label>
            <p>Role:</p>
            <select name="user[role]">
            <%
            let roles = ['member']
            for(role of roles){%>
                <option value=<%=role%>><%=role%></option>
            <%}%>
            </select>
        </label>
        <label>
            <p>Address:</p>

        </label>
        <div class="form-button mt-3">
            <button id="submit" type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>
</body>
</html>